
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(28, 216, 230);
  }

  h1 { font-family: 'Times New Roman', 'Georgia', 'Garamond';
    font-size: 8vw;
  }
  h2 {font-family: 'Times New Roman', 'Georgia', 'Garamond';
    font-size: 3vw;

  }
  h3 {font-size: 4vw;
    color: white;
  }
  h4 {font-family: 'Times New Roman', 'Georgia', 'Garamond';
    font-size: 4vw;
  }
  h5 {font-family: 'Times New Roman', 'Georgia', 'Garamond';
    font-size: 3vw;

  }
  h6 {font-family: 'Times New Roman', 'Georgia', 'Garamond';
    font-size: 1.5vw;

  }
  p {font-family: 'Times New Roman', 'Georgia', 'Garamond';
    font-size: 2.3vw;

  }

.titleMain {
  color: navy;
    display:flex;
    align-items:center;
    justify-content: center;
}
.title-me {
  color: navy;
  font-weight: bold;
}
.jumbotron {
  background-image: url(../images/jumbotron-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
padding: none;
margin-bottom: 0px !important;
}
.profileImg {
  max-height: 100%;
  max-width: 200px;
  height: 9%;
  width: 9%;
  border: 5px solid navy;
}
.titleElements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nav-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}


.subtitle {
  background-image: url(../images/banner2.jpg);
  height: 26vh;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  display:flex;
  justify-content: center;
}

.row1 {
  margin-top: 10%;
  margin-left: 10%;
}
.row2 {
  margin-top: 10%;
  margin-left: 10%;
}
.row3 {
  margin-top: 3%;
  margin-left: 33%;
}

.row4 {
  margin-top: 3%;
  margin-left: 33%;
  margin-bottom: 3%;
}

.about-me {
  color: aliceblue;
  border-right: 3px solid black;
  background-color: blue;
  border-radius: 100%;
}
.work {
  color: aliceblue;
  border-right: 3px solid black;
  background-color: blue;
  border-radius: 100%;
}

.contacts {
  margin-left: 50%;
}
  
.footer {
  display: flex;
  justify-content: center;
}
