
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(28, 216, 230);
  }

  h1 { font-family: 'Times New Roman', 'Georgia', 'Garamond';
    font-size: 8vw;
  }
  h2 {

  }
  h3 {color: white;
  }
  h4 {}
  h5 {

  }
  h6 {

  }

.titleMain {
  color: rgb(7, 7, 7);
    display:flex;
    align-items:center;
    justify-content: center;
}
.title-me {
  color: whitesmoke;
}
.jumbotron {
  background-image: url(../images/jumbotron-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
padding: none;
margin-bottom: 0px !important;
}
.profileImg {
  max-height: 150px;
  max-width: 150px;
  height: 9%;
  width: 9%;
  border: 5px solid black;
}
.titleElements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nav-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}


.subtitle {
  background-image: url(../images/banner2.jpg);
  height: 26vh;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  display:flex;
  justify-content: center;
}

.row1 {
  margin-top: 10%;
  margin-left: 10%;
}

.contacts {
  margin-left: 50%;
}
  
.footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
    #navigation {
      
    }
    .icons {
      margin-left: auto;
    }
}